#por-que-nosotros,
#catalogo,
#financiamiento,
#subasta,
#sobre-nosotros,
#contactanos{
    scroll-margin-top: 100px;
}

.logo{
    width: 90px;
    height: 200px;
}

header{
    height: 90px;
}

.hover:hover{
    background-color: var(--green);
}

.bg-black{
    background-color: var(--black);
}